  
header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #669900;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 2%;
}
p {
    margin-left: 2%;
    color: #40434E;
}
body {
    background-color: #8ed7a6;
    color: #009933;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 12%;
    margin-left: 12%;
    /* margin-top: 10%; */
}
a {
    color: #40434E;
}
div {
    position: fixed;
    left: 0px;
    width: 150px;
    top: 0px;
    height: 1000px;
    background-color: #3A405A;
}
.sidenav {
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #006600;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #EBEBEB;
  display: block;
}

.sidenav a:hover {
  color: #AFCEFF;
}
img {
    margin-left: 2%;
    /* width: 640px;
    height: 340px; */
}
button {
    margin-left: 2%;
}
